<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="core" connectionString="YOUR_CONNECTION_STRING" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="master" connectionString="YOUR_CONNECTION_STRING" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="web" connectionString="YOUR_CONNECTION_STRING" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="analytics" connectionString="YOUR_CONNECTION_STRING"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="tracking.live" connectionString="YOUR_CONNECTION_STRING"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="tracking.history" connectionString="YOUR_CONNECTION_STRING"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="tracking.contact" connectionString="YOUR_CONNECTION_STRING"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="reporting" connectionString="YOUR_CONNECTION_STRING" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
</connectionStrings>