<div class="4u 12u(mobile)">
    <section class="divided">
        <header>
            <h2>@Html.Sitecore().Field("title")</h2>
        </header>
        @Html.Sitecore().Field("links")
    </section>
</div>