<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures the OmniChannel tracking and management module.

In most cases, you should leave this file enabled.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <!-- Determines the initial channel for the interaction. -->
      <determineInteractionChannel>
        <processor type="Robbie.Feature.Channel.Pipelines.DetermineInteractionChannel.RobbieChannel, Robbie.Feature.Channel">
          <param decs="channelId">{7A8B7497-C9B7-4DC8-9718-2810CB094BB0}</param>
        </processor>
      </determineInteractionChannel>
    </pipelines>
  </sitecore>
</configuration>