<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']"
          type="RobbieBehaviour.Pipelines.Initialize.RegisterHttpRoutesProcessor, RobbieBehaviour" />
      </initialize>
    </pipelines>
    <api>
      <services>
        <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
          <allowedControllers hint="list:AddController">
            <allowedController desc="IdentifyController">RobbieBehaviour.Controllers.IdentifyController, RobbieBehaviour</allowedController>
            <allowedController desc="ProfileController">RobbieBehaviour.Controllers.ProfileController, RobbieBehaviour</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>