<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <unicorn>
      <authenticationProvider xdt:Transform="Replace">
        <SharedSecret>aMQeW7vfrlGKRPx1sxyn7vf7R2CN3J2QrdaLFPeT87iBQfSwhz0k84OSls45OZEP</SharedSecret>
        <WriteAuthFailuresToLog>false</WriteAuthFailuresToLog>
      </authenticationProvider>
    </unicorn>
  </sitecore>
</configuration>