<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Robbie" description="" xdt:Transform="SetAttributes">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true" xdt:Transform="Replace">
            <include database="master" name="content" path="/sitecore/content" />
            <include database="master" name="devices" path="/sitecore/Layout/Devices"/>
            <include database="master" name="layouts" path="/sitecore/Layout/Layouts/Robbie"/>
            <include database="master" name="placeholder settings" path="/sitecore/Layout/Placeholder Settings/Robbie"/>
            <include database="master" name="renderings" path="/sitecore/Layout/Renderings/Robbie"/>
            <include database="master" name="media library" path="/sitecore/media library/Robbie" />
            <include database="master" name="marketing control panel" path="/sitecore/system/Marketing Control Panel" />
            <include database="master" name="branches" path="/sitecore/Templates/Branches/Robbie" />
            <include database="master" name="rendering parameters templates" path="/sitecore/Templates/System/Layout/Rendering Parameters" />
            <include database="master" name="templates" path="/sitecore/Templates/Robbie" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>